* {
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

#modes button.active {
  background-color: aliceblue;
}

.grid {
  margin: 2em;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: auto;
}

.grid span {
  width: 3em;
  height: 3em;
  line-height: 3em;
}

.grid span.blank {
  border: solid black 1px;
}
